          * {
          	margin:0;
          	box-sizing: border-box;
          }

          body { 

            background-color: rgb(67,187,201);
/*background-image: linear-gradient(orange,white, green);
            /*background-image: radial-gradient(rgba(0,0,0,1) 20%, rgba(0,0,0,0.75) 80%);*/
         /*background-color: black;*/
          }
          
          @media (min-width: 768px)
    	{
    	

          .img1 {
            
          	height: auto;
          	width: 100%;
          	background-size: contain;
          	border: 2px solid black;
          	margin-bottom: 25px;
          	z-index: 1;
          	position: relative;  
            box-shadow: 10px 10px 10px rgba(0,0,0,0.6);

          }


          .text {
          	width:100%;
          	text-align: center;
          	text-transform: uppercase;
          	font-family: arial serif;
          	font-size: 2.8vw;
          	color: white;
          	margin-bottom: 25px;
          	text-shadow: 0 0 5px black;
          	animation-name: virat;
          	animation-duration: 2s;
          	animation-iteration-count: infinite; 
          	
          }         

          @keyframes virat {
          	0% {color: red}
          	50% {color: orange}
            80% {color: yellow}
          	}
          
          .text1 {
          	width: 100%;
          	color: black;
          	font-family: 'Lemonada', cursive;
          	text-align: justify;
          	font-size: 2vw;
          	line-height: 20px;
          }
          
           .head7 {
             border:2px solid lightslategrey;
             padding-right: 4px;
             margin: 6px;
             border-radius: 20px;
             background-image: linear-gradient(lightslategrey,slategrey);
             
          	} 


          .height {
          	
          	border: 2px solid black;
          	margin-left: 20px;
          	padding: 20px;
          	margin-top: 5px;
          	float: left;
          	margin-bottom: 25px;
          	margin-right: 5px;
          	box-shadow: 5px 5px 15px black;

          }
          
          .box {
          	height: 18vw;
          	width: 18vw;
          	background-color: yellow;
          	opacity: 0.85;
          	font-size: 2.2vw;
          	color: maroon;
          	margin-bottom: 25px;
          	font-style: italic;
          	font-family: 'Roboto Condensed', sans-serif;
          	font-weight: bolder;
          	box-shadow: 5px 5px 15px yellow;
          	border-radius: 25px;
          	padding-top: 7vw;
          	vertical-align: middle;
          	text-align: center;
          	transition: width 1.5s,height 1.5s, transform 1.5s;
          	/*transform: skewY(-15deg);*/


          }
          .q1 {
          	width: 70%;
          	float: right;
          }
          .w1 {
          	background-image: linear-gradient(orange,white,green);
          	width: 100px;
          	height: 100px;
          	float: right;
          	text-align: center;
          	color: black;
          	font-weight: bold;
          	padding-top: 3.2vw;
          	margin-left: 5px;
            font-size: 2vw;
          	border: 2px solid grey;


          }
          .w1:hover {
          	border: 2px dotted black;
          	margin-left: 10px;
          }

          .text2 {
          	font-size: 2.9vw;
          	text-align: center;
          	font-family: 'Caveat', cursive;


          	padding-right: 150px;
          	font-style: italic;
          	font-weight: bolder;
          	color: black;
          	margin-bottom: 80px;
          	margin-left: 5px;
            padding: 10px;
          	margin-bottom: 30px;
          	height:100%;
          	margin-right: 20px;
          	text-align: center;
          }
          li.l1 {
          	list-style-type: none;
          }
      a:hover div.box1 {
       	    
     	    border: 2px dotted black;
     	    height: 19vw;
     	    width: 19vw;
     	    margin-bottom: 10px;
           opacity: 1;
     	    transform: rotateY(180deg);
     	   
     }    ol {

            margin-top: 5vw;
          	float: left;
          }

          .ol1 {
          	margin-left: 10vw;

          }

      a {
     	text-decoration: none;
     	font-size: 3vw;
     	padding: auto;
     	vertical-align: middle;
     }
       .span {
     	top: 10px;
     	position: absolute;	
     }

      a:hover div.box2 {
       	    
     	    border: 2px dotted black;
     	    height: 19vw;
     	    width: 19vw;
     	    margin-bottom: 10px;
     	    opacity: 1.0;
           
     	    transform: rotate(180deg);
     	   
     }
     .text4{
     	visibility: hidden;
     	font-size: 1px;
     }
     .resume {
     	text-align: center;
     	font-weight: bold;
     	font-family: algerian;
     	font-size: 5vw;
     	padding-bottom: 0;
     	padding-top: 15px;
     	color: red;
     }
     

     
        	
    		.col-l-1 {width:8.33%;}
    		.col-l-2 {width:16.66%;}
    		.col-l-3 {width:25%;}
    		.col-l-4 {width:33.33%;}
    		.col-l-5 {width:41.66%;}
    		.col-l-6 {width:50%;}
    		.col-l-7 {width:58.33%;}
    		.col-l-8 {width:66.66%;}
    		.col-l-9 {width:75%;}
    		.col-l-10 {width:83.33%;}
    		.col-l-11 {width:91.66%;}
    		.col-l-12 {width:100%;}
    	
        
       	.col-m-1 {width:8.33%;}
    		.col-m-2 {width:16.66%;}
    		.col-m-3 {width:25%;}
    		.col-m-4 {width:33.33%;}
    		.col-m-5 {width:41.66%;}
    		.col-m-6 {width:50%;}
    		.col-m-7 {width:58.33%;}
    		.col-m-8 {width:66.66%;}
    		.col-m-9 {width:75%;}
    		.col-m-10 {width:83.33%;}
    		.col-m-11 {width:91.66%;}
    		.col-m-12 {width:100%;}
    	}
        
    	@media (max-width: 767px)
    	{
           .img1 {
            
          	height: auto;
          	width: 100%;
          	background-size: contain;
          	border: 2px solid black;
          	margin-bottom: 25px;
          	z-index: 1;
          	position: relative;  
            box-shadow: 10px 10px 10px rgba(0,0,0,0.6);

          }
            .text {
          	width:100%;
          	text-align: center;
          	text-transform: uppercase;
          	font-family: arial serif;
          	font-size: 6vw;
          	color: white;
          	margin-bottom: 25px;
          	text-shadow: 0 0 5px black;
          	animation-name: virat;
          	animation-duration: 2s;
          	animation-iteration-count: infinite;
          }         

          @keyframes virat {
          	0% {color: white}
          	50% {color: red}
            100% {color: yellow}
          	}
          
          .text1 {
          	width: 100%;
          	text-align: justify;
          	font-size: 3vw;
          	line-height: 25px;

          	font-family: 'Lemonada', cursive;
          }
          
           .head7 {
             border:2px solid lightslategrey;
             padding-right: 4px;
             margin: 6px;
             border-radius: 20px;
             background-image: linear-gradient(lightslategrey,slategrey);
             
          	} 


          .height {
          	
          	border: 2px solid black;
          	margin: 10px 50px 50px;
          	padding: 40px;
          	box-shadow: 10px 10px 20px black;
          	
          }

          
          .box {
          	height: 28vw;
          	width: 28vw;
          	background-color: white;
          	background-color: yellow;
          	opacity: 0.85;
          	box-shadow: 5px 5px 15px yellow;
          	padding-top: 10vw;
          	font-size: 3.8vw;
          	color: maroon;
          	font-style: italic;
          	font-family: 'Roboto Condensed', sans-serif;
          	font-weight: bolder;
          	

          	margin-bottom: 45px;
          	border-radius: 20px;
          	text-align: center;
          	transition: width 2s,height 2s, transform 2s;


          }
          .q1 {
          	width: 70%;
          }

          .text4 {
          	font-size: 4.3vw;
          	text-align: center;
          	padding-right: 100px;
          	font-style: italic;
          	font-weight: bold;
          	
          	font-family: 'Caveat', cursive;
          	color:brown;
          	line-height: 35px;
          	margin-bottom: 20px;
          	margin-left: 5px;
          	padding: 20px 20px 0;
          	margin-top: 20px;
          	margin-bottom: 30px;
          	height:100%;
          	margin-right: 20px;
          	text-align: center;
          }
          li.l1 {
          	list-style-type: none;
          }
      a:hover div.box1 {
       	    width: 31vw;
       	    height: 31vw;
       	    margin-bottom: 25px;
     	    border: 2px dotted black;
     	    transform: rotateY(180deg);
     	   
     }    ol {

          	float: left;

          }

          .ol1 {
          	margin-left: 10vw;
          }
       .text2 {
       	visibility: hidden;
       }
      a {
     	text-decoration: none;
     	font-size: 3vw;
     	padding: auto;
     	vertical-align: middle;
     }
       .span {
     	top: 10px;
     	position: absolute;	
     }
      a:hover div.box2 {
       	    width: 31vw;
       	    height: 31vw;
       	    margin-bottom: 20px;
     	    border: 2px dotted black;
     	    transform: rotate(180deg);
     	   
     }
    .resume {
     	text-align: center;
     	font-weight: bold;
     	font-family: algerian;
     	font-size: 8vw;
     	padding-bottom: 0;
     	padding-top: 20px;
     	color: red;
     }
     .w1 {
     	visibility: hidden;
     }




    		.col-s-1 {width:8.33%;}
    		.col-s-2 {width:16.66%;}
    		.col-s-3 {width:25%;}
    		.col-s-4 {width:33.33%;}
    		.col-s-5 {width:41.66%;}
    		.col-s-6 {width:50%;}
    		.col-s-7 {width:58.33%;}
    		.col-s-8 {width:66.66%;}
    		.col-s-9 {width:75%;}
    		.col-s-10 {width:83.33%;}
    		.col-s-11 {width:91.66%;}
    		.col-s-12 {width:100%;}
    	}
